<div class="form-group">
  <input
      type="text"
      [class.is-invalid]='ngControl.touched && ngControl.invalid'
      class='form-control'
      [formControl]='ngControl.control'
      placeholder="{{label}}"
      bsDatepicker
      [bsConfig]='bsConfig'
      [maxDate]='maxDate'
      [minDate]='minDate'
  >

  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Date From is required</div>
  <div *ngIf="ngControl.control.errors?.invalidDate" class="invalid-feedback">Date cannot be more than two weeks from today</div>
</div>
